---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Typography
$base-font-family: "adobe-caslon-pro", "Adobe Caslon Pro", serif;
$base-font-size:   18px;
$base-font-weight: 400;
$base-line-height: 1;

// Colours
$text-color:       #222;
$legal-text-color: #818181;
$caption-text-color: #444;
$border-color: #979797;
$background-color: #fefefe;
$content-width:    750px;
$hover-color: #443E40;

// Layout
$layout-width: 750px;

// Banner
$banner-width: 182px;
$banner-height: 503px;
$banner-margin: 50px;
$banner-border-width: 3px;
$banner-border-offset: 2px;

// Images
$img-separator: '{{ site.baseurl }}/img/separator.png';
$img-banner: '{{ site.baseurl }}/img/banner.png';
$img-banner-2x: '{{ site.baseurl }}/img/banner@2x.png';
$img-banner-3x: '{{ site.baseurl }}/img/banner@3x.png';
$img-dude: '{{ site.baseurl }}/img/dude.png';
$img-dude-2x: '{{ site.baseurl }}/img/dude@2x.png';
$img-dude-3x: '{{ site.baseurl }}/img/dude@3x.png';
$img-location: '{{ site.baseurl }}/img/icon-location.png';
$img-location-2x: '{{ site.baseurl }}/img/icon-location@2x.png';
$img-location-3x: '{{ site.baseurl }}/img/icon-location@3x.png';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "vendors",
        "base",
        "layout",
        "modules"
;
