---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: "adobe-caslon-pro", serif;
$base-font-size:   18px;
$base-font-weight: 400;
$base-line-height: 1.5;
$text-color:       #222;
$background-color: #fefefe;
$content-width:    750px;

// Banner
$banner-width: 182px;
$banner-height: 503px;
$banner-margin: 50px;
$banner-border-width: 3px;
$banner-border-offset: 2px;

// Images
$img-banner: '{{ site.baseurl }}/img/banner.png';
$img-banner-2x: '{{ site.baseurl }}/img/banner@2x.png';
$img-banner-3x: '{{ site.baseurl }}/img/banner@3x.png';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "vendors",
        "base",
        "layout"
;
