@mixin retina-background-image($img-1x, $img-2x, $img-3x) {
    // Non-retina device
    background-image: url($img-1x);
    background-size: 100%;

    // Retina @2x device
    @media only screen and (-webkit-min-device-pixel-ratio: 1.2), only screen and (min--moz-device-pixel-ratio: 1.2), only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (min-device-pixel-ratio: 1.2), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.2dppx) {
        background-image: url($img-2x);
    }

    // Retina @3x device
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) { 
        background-image: url($img-3x);
    }
}
