---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% include post.html post=post content=post.content %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="pagination">
  <li class="pagination-item">
    <a class="pagination-link pagination-link--non-numeric" {% if paginator.page == 1 %}disabled="disabled"{% endif %} href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">&larr; First page</a>
  </li>
  <li class="pagination-item">
    <a class="pagination-link pagination-link--non-numeric" {% if paginator.previous_page == nil %}disabled="disabled"{% endif %} href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Prev</a>
  </li>

  <!-- Numbers -->
  {% for page in (1..paginator.total_pages) %}
    <li class="pagination-item">
      {% if page == paginator.page %}
        <a class="pagination-link pagination-link--selected" href="#">{{ page }}</a>
      {% elsif page == 1 %}
        <a class="pagination-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a class="pagination-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    </li>
  {% endfor %}
  <!-- End of numbers -->

  <li class="pagination-item">
    <a class="pagination-link pagination-link--non-numeric" {% if paginator.next_page == nil %}disabled="disabled"{% endif %} href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
  </li>
  <li class="pagination-item">
    <a class="pagination-link pagination-link--non-numeric" {% if paginator.page == paginator.total_pages %}disabled="disabled"{% endif %} href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">Last page &rarr;</a>
  </li>
</ul>
{% endif %}
