<article class="post">
    <header>
        <a href="{{ include.post.url | prepend: site.baseurl }}">
            <h1 class="post-title">{{ include.post.title }}</h1>
        </a>
        <time datetime="{{ include.post.date | date_to_xmlschema }}" class="post-date">{{ include.post.date | date: "%A, %B %-d, %Y" }}</time>
    </header>
    <div class="post-body">
        {{ include.content }}
    </div>
    <footer class="post-footer">
        <a href="https://www.google.com/maps/search/{{ include.post.location }}" target="_blank" class="post-footer-location">{{ include.post.location }}</a>
    </footer>
</article>
