#banner {
    @include retina-background-image($img-banner, $img-banner-2x, $img-banner-3x);
    outline: none;
    display: block;
    width: $banner-width;
    height: $banner-height;
    text-indent: -9999px;
    margin: 0 auto $banner-margin;
    position: relative; /* To ensure the bottom border is positioned correctly */

    &::after {
        display: block;
        position: absolute;
        top: $banner-height;
        left: $banner-border-offset;
        content: "";
        background: #443E40;
        height: $banner-border-width;
        width: $banner-width - ($banner-border-offset* 2);
    }
}

#footer {
    margin-top: 50px;
    text-align: center;

    &::after {
        @include retina-background-image($img-dude, $img-dude-2x, $img-dude-3x);
        display: block;
        content: "";
        width: 65px;
        height: 158px;
        margin: 20px auto 50px;
    }

    p {
        margin: 0 0 9px;
    }
}

section[role="main"] {
    max-width: 750px;
    margin: 0 auto;
}
