#banner {
    @include retina-background-image($img-banner, $img-banner-2x, $img-banner-3x);
    outline: none;
    display: block;
    width: $banner-width;
    height: $banner-height;
    margin: 0 auto $banner-margin;
    position: relative; /* To ensure the bottom border is positioned correctly */

    &.is-custom {
        text-indent: -9999px; /* Use the classic image-replacement method to remove title text */
    }

    &:not(.is-custom) {
        h1 {
            // Podkova is included from Google Fonts automatically unless a custom banner is used
            // See _config.yml for details
            font-family: 'Podkova', serif;
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            letter-spacing: 0.02em;
            color: #fefefe;
            position: absolute;
            bottom: 19px;
            width: 100%;
        }
    }

    &::after {
        display: block;
        position: absolute;
        top: $banner-height;
        left: $banner-border-offset;
        content: "";
        background: #443E40;
        height: $banner-border-width;
        width: $banner-width - ($banner-border-offset* 2);
    }
}

#footer {
    margin-top: 50px;
    text-align: center;

    &::after {
        @include retina-background-image($img-dude, $img-dude-2x, $img-dude-3x);
        display: block;
        content: "";
        width: 65px;
        height: 158px;
        margin: 20px auto 50px;
    }

    p {
        margin: 0 0 9px;
    }
}

section[role="main"] {
    width: 90%;
    margin: 0 auto;

    @include min-breakpoint($desktop-breakpoint) {
        width: $layout-width;
    }
}
